<div class="list-page">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <div class="page-header">
    <h1>{{ 'STUDENTS.TITLE' | translate }}</h1>
  </div>
  @if (!hasSetup) {
    <app-setup-banner [message]="'STUDENTS.NO_CLASSES' | translate"></app-setup-banner>
  } @else {
    <app-data-table
      [config]="tableConfig"
      [data]="data"
      [totalRecords]="data.length"
      [loading]="loading"
      (addClick)="onAdd()"
      (editClick)="onEdit($event)"
      (deleteClick)="onDelete($event)"
      (viewClick)="onView($event)"
      (filterChange)="onFilter($event)">
    </app-data-table>
  }
</div>
